/* Stili di base */
body {
    background-color: #0e4193;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Utilizza una famiglia di font più standard per una migliore leggibilità */
}

#NAV {
    background-color: #3774aa;
}

.title {
    font-size: 80px; /* Dimensione del titolo per desktop */
    font-family: 'Impact', fantasy;
    text-align: center;
    margin-top: 20px;
    color: #151515;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.title:hover {
    color: #000000;
    text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
}

.container {
    width: 90%; /* Utilizza una larghezza percentuale per adattarsi a schermi di diverse dimensioni */
    max-width: 800px; /* Imposta una larghezza massima per limitare la larghezza su schermi molto larghi */
    min-width: 300px; /* Imposta una larghezza minima per evitare che il contenitore diventi troppo stretto */
    margin: auto; /* Centra il contenitore orizzontalmente */
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Allinea verticalmente al centro */
    align-items: center; /* Allinea orizzontalmente al centro */
}

.txtCont {
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #000000;
}

.IMG {
    width: 100%;
    height: auto; /* Imposta l'altezza dell'immagine in modo che si adatti automaticamente alla larghezza */
    max-width: 100%; /* Garantisce che l'immagine non superi mai la larghezza del contenitore */
    margin-top: 20px;
}

/* Media query per dispositivi con larghezza massima di 767px (telefono) */
@media (max-width: 767px) {
    .title {
        font-size: 46px; /* Riduci ulteriormente la dimensione del titolo per dispositivi mobili */
    }

    .container {
        width: 95%; /* Aumenta leggermente la larghezza percentuale per adattarsi a schermi più piccoli */
        padding: 10px; /* Riduci il padding per schermi piccoli */
        box-shadow: 0px 0px 5px 3px black; /* Riduci l'ombra per adattarsi meglio agli schermi più piccoli */
        margin: auto; /* Assicura che il contenitore sia centrato orizzontalmente */
    }

    .IMG {
        margin-top: 10px; /* Riduci il margine superiore per risparmiare spazio */
    }

    .txtCont {
        margin-top: 10px; /* Riduci il margine superiore per risparmiare spazio */
    }
}
