/* Stili di base */
body {
    background-color: #0e4193;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Utilizza una famiglia di font più standard per una migliore leggibilità */
}

#NAV {
    background-color: #3774aa;
}
.title {
    font-size: 80px; /* Dimensione del titolo per desktop */
    font-family: 'Impact', fantasy;
    text-align: center;
    margin-top: 20px;
    color: #151515;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.title:hover {
    color: #000000;
    text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
}

.container {
    width: 90%; /* Utilizza una larghezza percentuale per adattarsi a schermi di diverse dimensioni */
    max-width: 800px; /* Imposta una larghezza massima per limitare la larghezza su schermi molto larghi */
    min-width: 300px; /* Imposta una larghezza minima per evitare che il contenitore diventi troppo stretto */
    margin: auto; /* Centra il contenitore orizzontalmente */
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Allinea verticalmente al centro */
    align-items: center; /* Allinea orizzontalmente al centro */
}

.txtCont {
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #000000;
}
.IMG {
    width: 100%;
    height: auto; /* Imposta l'altezza dell'immagine in modo che si adatti automaticamente alla larghezza */
    max-width: 100%; /* Garantisce che l'immagine non superi mai la larghezza del contenitore */
    margin-top: 20px;
}

.presenza {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #fff; /* Cambia il colore di sfondo per maggiore contrasto */
    margin-top: 20px;
}

#home:hover {
    color: #fff;
}

#btnCollegio {
    display: block; /* Modifica il display a block per adattarsi meglio ai dispositivi mobili */
    width: 80%; /* Riduci la larghezza del bottone per dispositivi mobili */
    max-width: 300px; /* Limita la larghezza massima del bottone per schermi più piccoli */
    padding: 20px; /* Riduci il padding per dispositivi mobili */
    font-size: 24px; /* Riduci la dimensione del testo del bottone per dispositivi mobili */
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin: 20px 0; /* Aggiusta il margine per dispositivi mobili */
    text-decoration: none; /* Rimuovi sottolineatura */
}


#btnModifica{
    margin-right: 20%;
}

/* Stile per l'effetto hover */
#btnCollegio:hover {
    background-color: #0056b3;
}

.custom-font {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  }

/* Media query per dispositivi con larghezza massima di 767px (telefono) */
@media (max-width: 767px) {
    .title {
        font-size: 36px; /* Riduci ulteriormente la dimensione del titolo per dispositivi mobili */
    }

    .container {
        height: auto; /* Imposta l'altezza automatica per adattarsi ai contenuti */
        height: auto; /* Imposta l'altezza automatica per adattarsi ai contenuti */
    }

    .presenza {
        height: auto; /* Imposta l'altezza automatica per adattarsi ai contenuti */
    }
}
